fastapi[standard]==0.115.11
uvicorn==0.21.1
pydantic~=2.10.6
pydantic-settings==2.8.1
SQLAlchemy ==2.0.38
asyncpg==0.30.0
alembic==1.15.1
starlette==0.46.0
sqlmodel== 0.0.24
python-dotenv==1.0.1
python-decouple==3.8
loguru==0.7.3