FRONTEND_HOST=http://localhost:8000

RUN__SERVER_HOST=localhost
RUN__SERVER_PORT=8000

DB__POSTGRES_USER=user
DB__POSTGRES_PASSWORD=password
DB__POSTGRES_DB=db
DB__POSTGRES_HOST=host
DB__POSTGRES_PORT=5432

JWT__ALGORITHM=RS256
JWT__ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT__REFRESH_TOKEN_EXPIRE_DAYS=3
JWT__RESET_PASSWORD_TOKEN_EXPIRE_HOURS=1

AUTH0__DOMAIN=sample.auth0.com
AUTH0__API_AUDIENCE=https://sample.com
AUTH0__ALGORITHMS=RS256

CORS__BACKEND_CORS_ORIGINS="http://localhost,http://127.0.0.1:8000/docs,https://sample.com"

SMTP__HOST=smtp.gmail.com
SMTP__USER=user@gmail.com
SMTP__PASSWORD=password
SMTP__EMAILS_FROM_EMAIL=info@example.com
SMTP__TLS=True
SMTP__SSL=False
SMTP__PORT=587